@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Roboto Serif', serif;
  color: #ebccb4;
}

body {
  background-color: #000;
  background-image: linear-gradient(170deg, #000 0%, #4e5c64 90%);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
.wrapper {
  max-width: 1550px;
  margin: 0 auto;
}
.navigation {
  background-color: #000;
  background-image: linear-gradient(353deg, #000 0%, #4e5c64 90%);
  border-radius: 16px;
}
.navigation > ul {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  height: 5vh;
}
.title {
  font-family: 'Dancing Script', cursive;
  cursor: pointer;
  pointer-events: none;
  font-size: 1.2rem;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1em;
  grid-auto-rows: minmax(95vh, auto);
}
.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
  /* TODO: remove this later */
  border: #efefef 1px solid;
}
.address-details {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
  }
}
/* search Icon Button */
button {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #040505;
  cursor: pointer;
  transition: 0.2 ease-in-out;
  margin-right: 1em;
  box-shadow: rgba(235, 204, 180, 0.35) 0px 5px 15px;
}
button:hover {
  background: #7c7c7c6b;
  transform: scale(1.2);
}

/* input */
input#myInput {
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 17px;
  background-color: #040505;
  font-family: inherit;
  font-size: inherit;
  color: rgb(235, 204, 180);
  width: calc(100% - 100px);
  box-shadow: rgba(235, 204, 180, 0.35) 0px 5px 15px;
}
/* individual Address Card */
.singleDetail {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
  background-color: #7c7c7c2d;
  margin: 0.5em 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(235, 204, 180, 0.3) 0px 30px 60px -30px,
    rgba(235, 204, 180, 0.35) 0px -2px 6px 0px inset;
}

.singleDetail:hover {
  transform: scale(1.0099);
}

.singleDetail > p {
  padding: 2px;
  letter-spacing: 1px;
}
